In [1]:
import sqlite3
connection = sqlite3.connect("project1.db")
cursor = connection.cursor()

Create table

In [5]:
# Query the SQLite master table to get a list of tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch the results
tables = cursor.fetchall()

# Print the list of tables
for table in tables:
    print(table[0])

Researcher
CallForGrantProposal
GrantProposal
Meeting
Participates
Reviewing
Awards
ResearchGrantCouncil

In [10]:
sql_command = """CREATE TABLE Researcher (
    Email VARCHAR(10) PRIMARY KEY,
    FirstName VARCHAR(10),
    LastName VARCHAR(10),
    Organization VARCHAR(10),
    Department VARCHAR(50),
    Reviewer BINARY
);"""

cursor.execute(sql_command)

OperationalError: table Researcher already exists

In [3]:
sql_command = """CREATE TABLE CallForGrantProposal(
    Number INT,
    HostingCouncilKey INT,
    Title VARCHAR(10), 
    Area VARCHAR(10),
    Status VARCHAR(10),
    Deadline DATE,
    Description VARCHAR(60),
    PRIMARY KEY (Number, HostingCouncilKey)

);"""
cursor.execute(sql_command)

In [4]:
sql_command = """CREATE TABLE GrantProposal (
    Number INT,
    ApplicationStatus VARCHAR(10),
    RequestedAmount INT,
    PrincipalInvestigator VARCHAR(50)

)"""
cursor.execute(sql_command)

In [5]:
sql_command = """CREATE TABLE Meeting (
    Num INT,
    Date DATE,
    FOREIGN KEY (Num) REFERENCES CallForGrant(Num)
);"""
cursor.execute(sql_command)

In [6]:
sql_command = """CREATE TABLE Participates (
    Participant_email VARCHAR(10),
    CallForGrantProposalNumber INT,
    FOREIGN KEY (Participant_email) REFERENCES Researcher(Email),
    FOREIGN KEY (CallForGrantProposalNumber) REFERENCES CallForGrantProposal(Number)
);"""
cursor.execute(sql_command)

In [7]:
sql_command = """CREATE TABLE Reviewing (
    Deadline DATE,
    CallForGrantProposalNumber INT,
    SubmissionStatus VARCHAR(50),
    Reviewer_email VARCHAR(10),

    FOREIGN KEY (Reviewer_email) REFERENCES Researcher(Email)
    FOREIGN KEY (CallForGrantProposalNumber) REFERENCES CallForGrantProposal(Number)
);"""
cursor.execute(sql_command)

In [8]:
sql_command = """CREATE TABLE Awards (
    ProposalID INT, 
    Amount INT,
    Date DATE,
    FOREIGN KEY (ProposalID) REFERENCES GrantProposal(Number)
);"""
cursor.execute(sql_command)

In [9]:
sql_command = """CREATE TABLE ResearchGrantCouncil (
    --How do we identify a Council? By name? by id?
    PrimKey INT,
    PRIMARY KEY(PrimKey)

);"""
cursor.execute(sql_command)