In [2]:
from sqlalchemy.engine import create_engine
import sqlite3
from pandas.io import sql
import subprocess
%load_ext sql

In [3]:
%sql sqlite:///project2.db

In [7]:
%%sql
CREATE TABLE Researcher (
    Email VARCHAR(10),
    FirstName VARCHAR(10),
    LastName VARCHAR(10),
    Organization VARCHAR(10),
    Reviewer BINARY,
    Department VARCHAR(50),
    PRIMARY KEY (Email)
);

 * sqlite:///project2.db
Done.

[]

In [27]:
%%sql
CREATE TABLE CallForGrantProposal(
    Number INT,
    HostingCouncilKey INT,
    Title VARCHAR(10), 
    Area VARCHAR(10),
    Status VARCHAR(10),
    Deadline DATE,
    Description VARCHAR(60),
    PRIMARY KEY (Number, HostingCouncilKey)
);

 * sqlite:///project2.db
Done.

[]

In [44]:
%%sql
CREATE TABLE GrantProposal (
    Number INT,
    CallForGrantProposalNumber INT,
    ApplicationStatus VARCHAR(10),
    SummitDate DATE DEFAULT NULL,
    RequestedAmount INT,
    PrincipalInvestigator VARCHAR(50),

    FOREIGN KEY (CallForGrantProposalNumber) REFERENCES CallForGrantProposal(Number)

);

 * sqlite:///project2.db
Done.

[]

In [30]:
%%sql
CREATE TABLE Meeting (
    Num INT,
    Date DATE,
    FOREIGN KEY (Num) REFERENCES CallForGrant(Num)
);

 * sqlite:///project2.db
Done.

[]

In [11]:
%%sql
CREATE TABLE Participates (
    Participant_email VARCHAR(10),
    CallForGrantProposalNumber INT,
    FOREIGN KEY (Participant_email) REFERENCES Researcher(Email),
    FOREIGN KEY (CallForGrantProposalNumber) REFERENCES CallForGrantProposal(Number)
);

 * sqlite:///project2.db
Done.

[]

In [38]:
%%sql
CREATE TABLE Reviewing (
    Deadline DATE,
    CallForGrantProposalNumber INT,
    SubmissionStatus VARCHAR(50),
    Reviewer_email VARCHAR(10),

    FOREIGN KEY (Reviewer_email) REFERENCES Researcher(Email)
    FOREIGN KEY (CallForGrantProposalNumber) REFERENCES CallForGrantProposal(Number)
);

 * sqlite:///project2.db
Done.

[]

In [35]:
%%sql
CREATE TABLE Awards (
    ProposalID INT, 
    Amount INT,
    Date DATE,
    FOREIGN KEY (ProposalID) REFERENCES GrantProposal(Number)
);

 * sqlite:///project2.db
Done.

[]

In [14]:
%%sql
CREATE TABLE ResearchGrantCouncil (
    PrimKey INT,
    PRIMARY KEY(PrimKey)

);

 * sqlite:///project2.db
Done.

[]

In [15]:
%%sql
INSERT INTO Researcher  (Email, FirstName, LastName, Organization, Reviewer, Department)
VALUES 
    ("yagiz@sfu.ca","Yagiz","Aksos","SFU",1,"Computer Science"),
    ("alaa@sfu.ca","Alaa","Alameldeen","SFU",0, "Computer Science"),
    ("saba@sfu.ca","Saba","Alimadadi","SFU",1, "Computer Science"),
    ("matt@sfu.ca","Matt","Amy","SFU",1, "Computer Science"),
    ("steven@sfu.ca","Steven","Bergner","SFU",0, "Education"),
    ("brad@sfu.ca","Brad","Bart","SFU",	0,"Education"),
    ("robert@sfu.ca","Robert","Cameron","SFU",0,"Arts"),
    ("bobby@sfu.ca","Bobby","Chan","SFU",1,"Arts"),
    ("angel@sfu.ca","Angel","Chang","SFU",1,"Engineering"),
    ("ritland@sfu.ca","Ritland","Kermit","UBC",	0, "Environment");

 * sqlite:///project2.db
10 rows affected.

[]

In [28]:
%%sql 
INSERT INTO CallForGrantProposal (Number, HostingCouncilKey, Title, Area, Status, Deadline, Description)
VALUES
    (1, 0, "Exploring Machine Learning Techniques for Predictive Maintenance in Industrial Systems", "Computer Science", "Open", "2024-04-20", "This research delves into harnessing the power of machine learning to revolutionize predictive maintenance strategies in industrial settings, ensuring optimal equipment functionality and minimizing downtime."),
    (2, 0, "Investigating the Application of Blockchain Technology in Supply Chain Management", "Computer Science", "Open", "2024-04-20", "Investigating how blockchain technology can transform supply chain management by enhancing transparency, traceability, and trust among stakeholders, thereby revolutionizing global trade practices."),
    (3, 0, "A Comparative Analysis of Cloud Computing Platforms for Scalable Web Applications", "Computer Science", "Open", "2024-04-20", "This study conducts a thorough comparative analysis of leading cloud computing platforms to identify the most suitable solution for hosting scalable web applications, optimizing performance and cost-effectiveness."),
    (4, 0, "Enhancing Cybersecurity Measures through Threat Intelligence and Machine Learning", "Computer Science", "Open", "2024-04-20", "Exploring the fusion of artificial intelligence and threat intelligence to bolster cybersecurity defenses, empowering organizations to proactively identify and mitigate emerging cyber threats in real-time."),
    (5, 0, "Optimizing Big Data Processing with Apache Spark and Hadoop Ecosystem", "Computer Science", "Open", "2024-04-20", "Investigating techniques to streamline big data processing using Apache Spark and the Hadoop ecosystem, enabling organizations to efficiently analyze vast datasets and derive valuable insights for informed decision-making."),
    (6, 0, "Understanding the Impact of Quantum Computing on Cryptography and Data Security", "Computer Science", "Open", "2024-04-20", "This research investigates the potential implications of quantum computing on cryptographic protocols, aiming to develop robust encryption methods resistant to quantum attacks in the post-quantum era."),
    (7, 0, "Developing Efficient Algorithms for Real-Time Image Recognition in Autonomous Vehicles", "Computer Science", "Open", "2024-04-20", "Developing cutting-edge algorithms for real-time image recognition to enhance the safety and autonomy of self-driving vehicles, paving the way for the widespread adoption of autonomous transportation systems."),
    (8, 0, "Investigating the Role of Artificial Intelligence in Personalized Medicine and Healthcare", "Computer Science", "Open", "2024-04-20", "Exploring the integration of artificial intelligence in healthcare to deliver personalized treatment plans and improve patient outcomes, revolutionizing the delivery of medical services and optimizing resource allocation."),
    (9, 0, "Exploring the Potential of Augmented Reality in Education and Training Applications", "Computer Science", "Open", "2024-04-20", "Investigating the educational applications of augmented reality technology to create immersive learning experiences, engaging students and facilitating knowledge retention through interactive simulations and virtual environments."),
    (10, 0, "Advancing Digital Forensic Techniques for Investigating Cybercrime and Cybersecurity Incidents", "Forensic", "Open", "2024-04-20", "Advancing digital forensic techniques to effectively investigate cybercrime and cybersecurity incidents, leveraging cutting-edge tools and methodologies to uncover digital evidence and prosecute offenders.");

 * sqlite:///project2.db
10 rows affected.

[]

In [46]:
%%sql
INSERT INTO GrantProposal (Number,CallForGrantProposalNumber, ApplicationStatus,SummitDate, RequestedAmount, PrincipalInvestigator)
VALUES
    (1,1, "Not summit",NULL,2000, "saba@sfu.ca"),
    (2,1, "Summited","2024-04-05", 2500, "saba@sfu.ca"),
    (3,1, "Not summit",NULL, 50000, "alaa@sfu.ca"),
    (4,2, "Summited","2024-04-05", 1500, "alaa@sfu.ca"),
    (5,2, "Not summit",NULL, 2000, "robert@sfu.ca"),
    (6,2, "Summited","2024-04-05", 3000, "robert@sfu.ca"),
    (7,3, "Summited","2024-04-05", 30000, "robert@sfu.ca"),
    (8,3, "Not summit",NULL, 2300, "brad@sfu.ca"),
    (9,3, "Not summit",NULL, 23000, "brad@sfu.ca"),
    (10,3, "Not summit",NULL, 3300, "ritland@sfu.ca");

 * sqlite:///project2.db
10 rows affected.

[]

In [31]:
%%sql
INSERT INTO Meeting (Num, Date)
VALUES
    (1, "2024-05-01"),
    (2, "2024-05-11"),
    (3, "2024-05-11"),
    (4, "2024-05-01"),
    (5, "2024-05-11"),
    (6, "2024-05-01"),
    (7, "2024-05-31"),
    (8, "2024-05-21"),
    (9, "2024-05-21"),
    (10, "2024-05-01");

 * sqlite:///project2.db
10 rows affected.

[]

In [21]:
%%sql
INSERT INTO Participates (Participant_email, CallForGrantProposalNumber)
VALUES
    ("brad@sfu.ca",1),
    ("robert@sfu.ca", 2),
    ("bobby@sfu.ca", 3),
    ("angel@sfu.ca", 4),
    ("ritland@sfu.ca", 5),
    ("brad@sfu.ca", 6),
    ("robert@sfu.ca", 7),
    ("bobby@sfu.ca", 8),
    ("angel@sfu.ca", 9),
    ("ritland@sfu.ca", 10);

 * sqlite:///project2.db
10 rows affected.

[]

In [36]:
%%sql
INSERT INTO Awards (ProposalID, Amount, Date)
VALUES
    (2,1500,"2024-05-30"),
    (4,1000,"2024-05-30"),
    (7,20000,"2024-05-30");

 * sqlite:///project2.db
3 rows affected.

[]

In [39]:
%%sql
INSERT INTO Reviewing (Deadline, CallForGrantProposalNumber,SubmissionStatus,Reviewer_email)
VALUES 
    ("2024-05-15",	1,	"Submit",   "matt@sfu.ca"),
    ("2024-05-15",	1,	"Submit",	"steven@sfu.ca"),
    ("2024-05-15",	2,	"Submit",	"robert@sfu.ca"),
    ("2024-05-15",	2,	"Submit",	"brad@sfu.ca"),
    ("2024-05-15",	2,	"Submit",	"matt@sfu.ca"),
    ("2024-05-15",	3,	"Not Submit",	"bobby@sfu.ca"),
    ("2024-05-15",	3,	"Not Submit",	"angel@sfu.ca"),
    ("2024-05-15",	7,	"Not Submit",	"matt@sfu.ca"),
    ("2024-05-15",	7,	"Not Submit",	"steven@sfu.ca"),
    ("2024-05-15",	7,	"Not Submit",	"robert@sfu.ca");

 * sqlite:///project2.db
10 rows affected.

[]

In [24]:
%%sql
INSERT INTO ResearchGrantCouncil (PrimKey) VALUES (0);

 * sqlite:///project2.db
1 rows affected.

[]

In [7]:
%%sql
CREATE VIEW [ReviewerEmail] AS
SELECT r.Email
FROM Researcher as r;

 * sqlite:///project2.db
(sqlite3.OperationalError) view [ReviewerEmail] already exists
[SQL: CREATE VIEW [ReviewerEmail] AS
SELECT r.Email
FROM Researcher as r;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [12]:
%%sql
CREATE TABLE Co_authored_element (
    reviewer_email VARCHAR(60),
    conflict_id INTERGER,
    PRIMARY KEY(reviewer_email,conflict_id),
    FOREIGN KEY (reviewer_email) REFERENCES ReviewerEmail(Email)
);

 * sqlite:///project2.db
Done.

[]

In [13]:
%%sql
INSERT INTO Co_authored_element (reviewer_email, conflict_id)
VALUES
    ("alaa@sfu.ca",1),
    ("matt@sfu.ca",1),
    ("matt@sfu.ca",2),
    ("bobby@sfu.ca",2),
    ("robert@sfu.ca",2),
    ("robert@sfu.ca",3),
    ("yagiz@sfu.ca",3),
    ("brad@sfu.ca",3),
    ("ritland@sfu.ca",3),
    ("saba@sfu.ca",3)

 * sqlite:///project2.db
10 rows affected.

[]

1. Find all competitions (calls for grant proposals) open at a user-specified month, which already have at least one submitted large proposal. For a proposal to be large, it has to request more than $20,000 or to have more than 10 participants, including the principle investigator. Return both IDs and the titles.

2. For a user-specified area, find the proposal(s) that request(s) the largest amount of money.

3. For a user-specified date, find the proposals submitted before that date that are awarded the largest amount of money.

4. For an area specified by the user, output its average requested/awarded discrepancy, that is, the absolute value of the difference between the amounts.

5. Reviewer assignment: Provide the user with the option of assigning a set of reviewers to review a specific grant application (research proposal), one proposal at a time. The proposal ID should be specified by the user. Before doing the reviewers assignment, the user should be able to request and receive a list of reviewers who are not in conflict with the proposal being reviewed, and who still have not reached the maximum of three proposals to review.

6. For a user-specified name, find the proposal(s) he/she needs to review.

In [41]:
%%sql
SELECT c.Number, c.Title
FROM CallForGrantProposal AS c
JOIN GrantProposal AS g ON c.Number = g.CallForGrantProposalNumber
WHERE strftime('%m', c.Deadline) = '04'
AND (
    g.RequestedAmount > 20000 
    OR (
        SELECT COUNT(*)
        FROM Participates AS p
        WHERE p.CallForGrantProposalNumber = g.CallForGrantProposalNumber
    ) > 10
)
GROUP BY c.Number, c.Title;

 * sqlite:///project2.db
Done.

[(1, 'Exploring Machine Learning Techniques for Predictive Maintenance in Industrial Systems'),
 (3, 'A Comparative Analysis of Cloud Computing Platforms for Scalable Web Applications')]

In [42]:
%%sql
SELECT *, MAX(g.RequestedAmount)
FROM GrantProposal as g
JOIN CallForGrantProposal AS c ON g.CallForGrantProposalNumber = c.Number
WHERE c.Area = "Computer Science"

 * sqlite:///project2.db
Done.

[(3, 1, 'Not summit', 50000, 'alaa@sfu.ca', 1, 0, 'Exploring Machine Learning Techniques for Predictive Maintenance in Industrial Systems', 'Computer Science', 'Open', '2024-04-20', 'This research delves into harnessing the power of machine learning to revolutionize predictive maintenance strategies in industrial settings, ensuring optimal equipment functionality and minimizing downtime.', 50000)]

In [ ]:
%%sql
SELECT *
FROM GrantProposal as g
JOIN Awards as a ON g.Number = a.ProposalID
WHERE g.SummitDate <= a.Date
AND MAX(a.Amount)

In [54]:
%%sql
SELECT *
FROM GrantProposal as g
WHERE g.SummitDate <= (SELECT Date
                       FROM (SELECT a2.Date, MAX(a2.Amount) as largestAwardAmount
                            FROM Awards as a2
                            )
                      );

 * sqlite:///project2.db
Done.

[(2, 1, 'Summited', '2024-04-05', 2500, 'saba@sfu.ca'),
 (4, 2, 'Summited', '2024-04-05', 1500, 'alaa@sfu.ca'),
 (6, 2, 'Summited', '2024-04-05', 3000, 'robert@sfu.ca'),
 (7, 3, 'Summited', '2024-04-05', 30000, 'robert@sfu.ca')]

In [75]:
%%sql
CREATE VIEW PairsNotInSameDepartment AS 
SELECT r1.Email as r1_email_allpairs, r2.Email as r2_email_allpairs
FROM Researcher as r1
CROSS JOIN Researcher as r2
WHERE r1.Department <> r2.Department;

SELECT * FROM PairsNotInSameDepartment

 * sqlite:///project2.db
Done.
Done.

[('yagiz@sfu.ca', 'steven@sfu.ca'),
 ('yagiz@sfu.ca', 'brad@sfu.ca'),
 ('yagiz@sfu.ca', 'robert@sfu.ca'),
 ('yagiz@sfu.ca', 'bobby@sfu.ca'),
 ('yagiz@sfu.ca', 'angel@sfu.ca'),
 ('yagiz@sfu.ca', 'ritland@sfu.ca'),
 ('alaa@sfu.ca', 'steven@sfu.ca'),
 ('alaa@sfu.ca', 'brad@sfu.ca'),
 ('alaa@sfu.ca', 'robert@sfu.ca'),
 ('alaa@sfu.ca', 'bobby@sfu.ca'),
 ('alaa@sfu.ca', 'angel@sfu.ca'),
 ('alaa@sfu.ca', 'ritland@sfu.ca'),
 ('saba@sfu.ca', 'steven@sfu.ca'),
 ('saba@sfu.ca', 'brad@sfu.ca'),
 ('saba@sfu.ca', 'robert@sfu.ca'),
 ('saba@sfu.ca', 'bobby@sfu.ca'),
 ('saba@sfu.ca', 'angel@sfu.ca'),
 ('saba@sfu.ca', 'ritland@sfu.ca'),
 ('matt@sfu.ca', 'steven@sfu.ca'),
 ('matt@sfu.ca', 'brad@sfu.ca'),
 ('matt@sfu.ca', 'robert@sfu.ca'),
 ('matt@sfu.ca', 'bobby@sfu.ca'),
 ('matt@sfu.ca', 'angel@sfu.ca'),
 ('matt@sfu.ca', 'ritland@sfu.ca'),
 ('steven@sfu.ca', 'yagiz@sfu.ca'),
 ('steven@sfu.ca', 'alaa@sfu.ca'),
 ('steven@sfu.ca', 'saba@sfu.ca'),
 ('steven@sfu.ca', 'matt@sfu.ca'),
 ('steven@sfu.ca', 'robert@sfu.ca'),
 ('steven@sfu.ca', 'bobby@sfu.ca'),
 ('steven@sfu.ca', 'angel@sfu.ca'),
 ('steven@sfu.ca', 'ritland@sfu.ca'),
 ('brad@sfu.ca', 'yagiz@sfu.ca'),
 ('brad@sfu.ca', 'alaa@sfu.ca'),
 ('brad@sfu.ca', 'saba@sfu.ca'),
 ('brad@sfu.ca', 'matt@sfu.ca'),
 ('brad@sfu.ca', 'robert@sfu.ca'),
 ('brad@sfu.ca', 'bobby@sfu.ca'),
 ('brad@sfu.ca', 'angel@sfu.ca'),
 ('brad@sfu.ca', 'ritland@sfu.ca'),
 ('robert@sfu.ca', 'yagiz@sfu.ca'),
 ('robert@sfu.ca', 'alaa@sfu.ca'),
 ('robert@sfu.ca', 'saba@sfu.ca'),
 ('robert@sfu.ca', 'matt@sfu.ca'),
 ('robert@sfu.ca', 'steven@sfu.ca'),
 ('robert@sfu.ca', 'brad@sfu.ca'),
 ('robert@sfu.ca', 'angel@sfu.ca'),
 ('robert@sfu.ca', 'ritland@sfu.ca'),
 ('bobby@sfu.ca', 'yagiz@sfu.ca'),
 ('bobby@sfu.ca', 'alaa@sfu.ca'),
 ('bobby@sfu.ca', 'saba@sfu.ca'),
 ('bobby@sfu.ca', 'matt@sfu.ca'),
 ('bobby@sfu.ca', 'steven@sfu.ca'),
 ('bobby@sfu.ca', 'brad@sfu.ca'),
 ('bobby@sfu.ca', 'angel@sfu.ca'),
 ('bobby@sfu.ca', 'ritland@sfu.ca'),
 ('angel@sfu.ca', 'yagiz@sfu.ca'),
 ('angel@sfu.ca', 'alaa@sfu.ca'),
 ('angel@sfu.ca', 'saba@sfu.ca'),
 ('angel@sfu.ca', 'matt@sfu.ca'),
 ('angel@sfu.ca', 'steven@sfu.ca'),
 ('angel@sfu.ca', 'brad@sfu.ca'),
 ('angel@sfu.ca', 'robert@sfu.ca'),
 ('angel@sfu.ca', 'bobby@sfu.ca'),
 ('angel@sfu.ca', 'ritland@sfu.ca'),
 ('ritland@sfu.ca', 'yagiz@sfu.ca'),
 ('ritland@sfu.ca', 'alaa@sfu.ca'),
 ('ritland@sfu.ca', 'saba@sfu.ca'),
 ('ritland@sfu.ca', 'matt@sfu.ca'),
 ('ritland@sfu.ca', 'steven@sfu.ca'),
 ('ritland@sfu.ca', 'brad@sfu.ca'),
 ('ritland@sfu.ca', 'robert@sfu.ca'),
 ('ritland@sfu.ca', 'bobby@sfu.ca'),
 ('ritland@sfu.ca', 'angel@sfu.ca')]

In [121]:
%%sql

CREATE TABLE Co_authored_Pair as
SELECT c1.reviewer_email as r1_email, c2.reviewer_email as r2_email
FROM Co_authored_element as c1 JOIN Co_authored_element as c2
ON c1.conflict_id = c2.conflict_id
WHERE c1.reviewer_email <> c2.reviewer_email;

 * sqlite:///project2.db
Done.

[]

In [126]:
%%sql
CREATE VIEW Non_conflict_Pairs AS
SELECT p.r1_email_allpairs, p.r2_email_allpairs
FROM PairsNotInSameDepartment as p
EXCEPT
SELECT c.r1_email, c.r2_email
FROM Co_authored_Pair as c

 * sqlite:///project2.db
Done.

[]

In [128]:
%%sql SELECT *
FROM Non_conflict_Pairs

 * sqlite:///project2.db
Done.

[('alaa@sfu.ca', 'angel@sfu.ca'),
 ('alaa@sfu.ca', 'bobby@sfu.ca'),
 ('alaa@sfu.ca', 'brad@sfu.ca'),
 ('alaa@sfu.ca', 'ritland@sfu.ca'),
 ('alaa@sfu.ca', 'robert@sfu.ca'),
 ('alaa@sfu.ca', 'steven@sfu.ca'),
 ('angel@sfu.ca', 'alaa@sfu.ca'),
 ('angel@sfu.ca', 'bobby@sfu.ca'),
 ('angel@sfu.ca', 'brad@sfu.ca'),
 ('angel@sfu.ca', 'matt@sfu.ca'),
 ('angel@sfu.ca', 'ritland@sfu.ca'),
 ('angel@sfu.ca', 'robert@sfu.ca'),
 ('angel@sfu.ca', 'saba@sfu.ca'),
 ('angel@sfu.ca', 'steven@sfu.ca'),
 ('angel@sfu.ca', 'yagiz@sfu.ca'),
 ('bobby@sfu.ca', 'alaa@sfu.ca'),
 ('bobby@sfu.ca', 'angel@sfu.ca'),
 ('bobby@sfu.ca', 'brad@sfu.ca'),
 ('bobby@sfu.ca', 'ritland@sfu.ca'),
 ('bobby@sfu.ca', 'saba@sfu.ca'),
 ('bobby@sfu.ca', 'steven@sfu.ca'),
 ('bobby@sfu.ca', 'yagiz@sfu.ca'),
 ('brad@sfu.ca', 'alaa@sfu.ca'),
 ('brad@sfu.ca', 'angel@sfu.ca'),
 ('brad@sfu.ca', 'bobby@sfu.ca'),
 ('brad@sfu.ca', 'matt@sfu.ca'),
 ('matt@sfu.ca', 'angel@sfu.ca'),
 ('matt@sfu.ca', 'brad@sfu.ca'),
 ('matt@sfu.ca', 'ritland@sfu.ca'),
 ('matt@sfu.ca', 'steven@sfu.ca'),
 ('ritland@sfu.ca', 'alaa@sfu.ca'),
 ('ritland@sfu.ca', 'angel@sfu.ca'),
 ('ritland@sfu.ca', 'bobby@sfu.ca'),
 ('ritland@sfu.ca', 'matt@sfu.ca'),
 ('ritland@sfu.ca', 'steven@sfu.ca'),
 ('robert@sfu.ca', 'alaa@sfu.ca'),
 ('robert@sfu.ca', 'angel@sfu.ca'),
 ('robert@sfu.ca', 'steven@sfu.ca'),
 ('saba@sfu.ca', 'angel@sfu.ca'),
 ('saba@sfu.ca', 'bobby@sfu.ca'),
 ('saba@sfu.ca', 'steven@sfu.ca'),
 ('steven@sfu.ca', 'alaa@sfu.ca'),
 ('steven@sfu.ca', 'angel@sfu.ca'),
 ('steven@sfu.ca', 'bobby@sfu.ca'),
 ('steven@sfu.ca', 'matt@sfu.ca'),
 ('steven@sfu.ca', 'ritland@sfu.ca'),
 ('steven@sfu.ca', 'robert@sfu.ca'),
 ('steven@sfu.ca', 'saba@sfu.ca'),
 ('steven@sfu.ca', 'yagiz@sfu.ca'),
 ('yagiz@sfu.ca', 'angel@sfu.ca'),
 ('yagiz@sfu.ca', 'bobby@sfu.ca'),
 ('yagiz@sfu.ca', 'steven@sfu.ca')]

In [58]:
%%sql
SELECT g.*, r.Email as ReviewerEmail
FROM GrantProposal as g, Reviewing as rw, Researcher as r 
WHERE g.CallForGrantProposalNumber = rw.CallForGrantProposalNumber
AND rw.Reviewer_email= r.Email
AND r.FirstName = "Matt" AND r.lastName = "Amy"

 * sqlite:///project2.db
Done.

[(1, 1, 'Not summit', None, 2000, 'saba@sfu.ca', 'matt@sfu.ca'),
 (2, 1, 'Summited', '2024-04-05', 2500, 'saba@sfu.ca', 'matt@sfu.ca'),
 (3, 1, 'Not summit', None, 50000, 'alaa@sfu.ca', 'matt@sfu.ca'),
 (4, 2, 'Summited', '2024-04-05', 1500, 'alaa@sfu.ca', 'matt@sfu.ca'),
 (5, 2, 'Not summit', None, 2000, 'robert@sfu.ca', 'matt@sfu.ca'),
 (6, 2, 'Summited', '2024-04-05', 3000, 'robert@sfu.ca', 'matt@sfu.ca')]